@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    --prim-color: rgb(150, 17, 9);
    --second-color: black;
    --white-color: #ededed;
    --prim-font: "Open Sans", sans-serif;
    font-size: 18px;
}

* {
    font-family: var(--prim-font);
}
body {
    color: white;
    background: black;
    position: relative;
}

/* Text colors */
.prim-text-color {
    color: var(--prim-color);
}
.scond-text-color {
    color: var(--scond-color);
}
.white-text-color {
    color: var(--white-color);
}

/* Buttons */
.default-btn {
    transition: 0.2s;
    color: var(--white-color);
}
.background-btn {
    background: var(--prim-color);
    border: 2px solid var(--prim-color);
}
.background-btn:hover {
    background: none;
}
.background-btn:focus,
.no-background-btn:focus {
    opacity: 0.4;
}
.no-background-btn {
    background: none;
    border: 2px solid var(--prim-color);
}
.no-background-btn:hover {
    background: var(--prim-color);
}

/* Inputs */
.form-input {
    background: none;
    border-bottom: 1px solid gray;
    padding: 10px 14px;
}
.form-input::placeholder {
    font-size: 0.9rem;
}
.form-input:focus {
    outline: none;
    border-bottom: 1px solid var(--prim-color);
}
