.sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.692);
    z-index: -100000;
    opacity: 0;
    transition: 0.2s;
}
.sidebar > div {
    background: black;
    height: inherit;
    width: 70%;
    padding: 120px 2rem;
}
.sidebar-profile {
    border-bottom: 1px solid #111111;
    padding-bottom: 1rem;
}
.sidebar-profile-picture {
    min-width: 4rem;
    min-height: 4rem;
    background: gray;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-dropdown-toggle {
    cursor: pointer;
    transition: 0.3s opacity;
}
.sidebar-dropdown {
    animation: slide 0.7s;
}
.sidebar-link {
    opacity: 1;
    transition: 0.3s opacity;
}
.sidebar-link:hover {
    opacity: 0.5;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
