/* MOVIE CARD */
.movie-card {
    min-width: 24%;
    height: 30rem !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    transition: 0.3s;
}
.movie-card img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.movie-card:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.heading {
    font-weight: 700;
    font-size: 1.2rem;
    color: #111111;
}

/* Create movie css */
.create-movie-form-container {
    padding: 1.4rem 2rem;
    height: 100%;
}
.create-movie-form-container > div {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 1rem 0.2rem rgba(0, 0, 0, 0.082);
}
.create-movie-form-container .row > div {
    width: 50%;
    height: 100%;
}
.create-movie-form-container .movie-right-container {
    padding-right: 2rem;
}

.create-movie-form-container .movie-right-container img {
    object-fit: contain;
    max-width: 50%;
    height: 100%;
}

.movie-right-container .cover-container > div:first-child {
    background: rgba(0, 0, 0, 0.034);
    height: 450px;
}

.add_time_btn {
    color: var(--prim-color);
}

.label-upload {
    padding: 12px 18px;
    border-radius: 5px;
    font-size: 0.9rem;
}
